In [1]:
import pandas as pd
import numpy as np

In [2]:
drinks = pd.read_csv('drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

Проверим, есть ли пропущенные значения:

In [3]:
drinks.isnull().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
dtype: int64

Пропущенные значения отсутствуют.

Перейдём к нахождению "стран-лидеров" по утреблению каждого отдельного вида алкоголя, а также выведем страну, которая потребляет больше всего чистого спирта в общем:

In [6]:
for col in drinks.columns[1:]:
    max_country = drinks.loc[drinks[col].idxmax(), 'country']
    print(f"{col}: {max_country}")

beer_servings: Namibia
spirit_servings: Grenada
wine_servings: France
total_litres_of_pure_alcohol: Belarus

Таким образом, употребляют больше всего 
* пива в Намибии, 
* крепкого алкоголя в Гренаде,
* вина во Франции.

Лидером по выпитам литрам чистого спирта является Беларусь.